---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

body {
  background: $white;
  color: $text;
  margin: 0 auto;
}

.container-main,
.container-footer {
  margin: 0 auto;
  max-width: 740px;
  width: 100%;
}

article p {
  line-height: 1.55; // 1.55 * 16px = 24.8
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $georgia;
  font-weight: bold;

  line-height: 1.7; // 1.7 * 16px = 27.2px
  margin: 0.5em 0;
}

h1 {
  font-size: 2em;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

a {
  color: $special;
  cursor: pointer;

  &:hover,
  &:active {
    color: $specialState;
    text-decoration: underline;
  }
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}


// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $specialState;
}
::selection {
  color: $black;
  background: $specialState;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/


@import "header";
@import "footer";
@import "post_header";


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

@import "media";