<div class="container-header">
    <header>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/resume">Resume</a>
                </li>
                <!-- <li class="nav-item"> -->
                    <!-- <a class="nav-link" href="{{ site.baseurl }}/portfolio">Portfolio</a> -->
                <!-- </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
