<div class="container-header">
    <header>
        <nav class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list nav-list">
                <li class="pure-menu-item nav-item">
                    <a class="pure-menu-link nav-link" href="{{ site.baseurl }}/">Blog</a>
                </li>
                <li class="pure-menu-item nav-item">
                    <a class="pure-menu-link nav-link" href="{{ site.baseurl }}/resume">Resume</a>
                </li>
                <li class="pure-menu-item nav-item">
                    <span class="site-avatar-wrapper pure-menu-link">
                        <img class="site-avatar" src="{{ site.avatar }}"/>
                    </span>
                </li>
                <li class="pure-menu-item nav-item">
                    <a class="pure-menu-link nav-link" href="{{ site.baseurl }}/portfolio">Portfolio</a>
                </li>
                <li class="pure-menu-item nav-item">
                    <a class="pure-menu-link nav-link" href="{{ site.baseurl }}/about">About</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
