@import 'variables';

.container-header {
  text-align: center;
  background-color: $customGray;
  line-height: 4.6875;  // 75 % 16px = 4.6875

  .site-avatar-wrapper {
    display: inline-block;

    .site-avatar {
      height: 87px;
      width: 87px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .nav {
  }

  .nav-list {
  }

  .nav-item {
    display: inline;
    margin: 0 0.2em;
  }

  .nav-link {
    color: $white;
    display: inline-block;

    font-weight: 700;

    &:hover {
      color: $blackSeaweed;
    }
  }
}
