
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$red: #FF606E;
$lightBlue: #00DDD8;
$darkBlue: #517398;
$palegold: #C0B283;
$charcoal: #373737;

$caviar: #F77604;
$lettuce: #B8D20B;
$salmon: #F56C57;
$blackSeaweed: #231B12;

$highlighterYellow: rgb(247, 236, 29);

// Grays
$black: #262C3A;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #ffffff;
$customGray: rgb(162, 172, 188);

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$monospace: Monospace;

// Variable assignment
$text: $charcoal;
$special: $black;
$specialState: $highlighterYellow;
$fontStyle: $georgia;
