<!DOCTYPE html>
<html lang="">
  <head>
    {% include meta.html %}

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.1/build/pure-min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <script async src="{{ site.baseurl }}/assets/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>

  <body>

    {% include header.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
